<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao blog do Nodejs!</h1>
  <p class="lead">Aqui você encontrará todas as informações necessárias para ficar por dentro de todo ecossistema envolvendo Nodejs.</p>
  <hr class="my-4">
  <p><small> Cadastre-se e fique por dentro de tudo que rola no mundo do Nodejs! </small></p>
  <a class="btn btn-success btn-sm " href="#" role="button"> Crie uma conta </a>
</div>

<h4> Postagens recentes: </h4>

{{#each postagens}}

    <div class="card">
        <div class="card-body">
            <h3>{{titulo}}</h3>
            {{descricao}}
        </div>
    </div>

{{else}}

    <h4 style="color: rgb(161, 158, 158)"> Nenhuma postagem cadastrada!</h4>
{{/each}}